In [1]:
import pandas as pd
import numpy as np
from pathlib import Path

In [2]:
all_weather_data = pd.read_csv("Weather_Data/Openweather_30_year_Honolulu.csv")
all_weather_data.head()

,dt,dt_iso,timezone,city_name,lat,lon,temp,temp_max,wind_speed,wind_deg,wind_gust,rain_1h,rain_3h,clouds_all
0,694224000,1992-01-01 00:00:00 +0000 UTC,-36000,Honolulu,21.309884,-157.85814,76.64,82.85,19.46,70,27.74,NaN,NaN,40
1,694227600,1992-01-01 01:00:00 +0000 UTC,-36000,Honolulu,21.309884,-157.85814,74.21,76.96,13.87,50,NaN,NaN,NaN,20
2,694231200,1992-01-01 02:00:00 +0000 UTC,-36000,Honolulu,21.309884,-157.85814,73.67,76.69,11.41,50,NaN,NaN,NaN,75
3,694234800,1992-01-01 03:00:00 +0000 UTC,-36000,Honolulu,21.309884,-157.85814,73.81,76.91,13.87,70,NaN,NaN,NaN,75
4,694238400,1992-01-01 04:00:00 +0000 UTC,-36000,Honolulu,21.309884,-157.85814,72.45,75.83,8.05,60,NaN,NaN,NaN,75

In [54]:
weather_data = all_weather_data[["dt_iso", "temp", "temp_max", "wind_speed", "rain_1h", "clouds_all"]]
weather_data['dt_iso'] = [str(x).replace('+0000 UTC', '') for x in weather_data['dt_iso']]
weather_data['dt_iso'] = pd.to_datetime(weather_data['dt_iso'])
weather_data = weather_data.fillna(0)
weather_data.head()

C:\Users\meber\anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\meber\anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

               dt_iso   temp  temp_max  wind_speed  rain_1h  clouds_all
0 1992-01-01 00:00:00  76.64     82.85       19.46      0.0          40
1 1992-01-01 01:00:00  74.21     76.96       13.87      0.0          20
2 1992-01-01 02:00:00  73.67     76.69       11.41      0.0          75
3 1992-01-01 03:00:00  73.81     76.91       13.87      0.0          75
4 1992-01-01 04:00:00  72.45     75.83        8.05      0.0          75

In [55]:
weather_trends = weather_data.groupby(pd.Grouper(key='dt_iso',axis=1, freq="D")).mean()
weather_trends.head()

                 temp   temp_max  wind_speed   rain_1h  clouds_all
dt_iso
1992-01-01  73.460833  76.243750   13.034167  0.000000   53.083333
1992-01-02  73.349583  77.503750   11.861250  0.065833   40.833333
1992-01-03  74.239167  76.031667   12.951250  0.013750   39.541667
1992-01-04  73.683333  76.971667    8.130833  0.006250   29.208333
1992-01-05  72.560417  74.882917    4.702083  0.000000   24.833333